.version.about_us /* version checker */
{
	color: #0000FB;
	background-color: #4C25F2;
}

.html
{
	background-color: #00204D;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 2528.9999999999973px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -90px;
	margin-bottom: -138px;
	width: 0.01px;
}

#pu21354
{
	width: 0.01px;
	padding-bottom: 90px;
	margin-left: -100px;
}

#u21354
{
	z-index: 249;
	height: 90px;
	background-color: #3D6177;
	background-color: rgba(0,48,77,0.76);
	position: fixed;
	top: -1px;
	-pie-background: rgba(0,48,77,0.76);
}

#u21354-bw
{
	z-index: 249;
}

#u15691
{
	z-index: 270;
	width: 47px;
	border-style: none;
	position: fixed;
	top: 19px;
	left: 100px;
}

#u15691:hover
{
	background-color: #00A99D;
	width: 47px;
	min-height: 0px;
	margin: 0px;
}

#u275-4
{
	z-index: 258;
	width: 128px;
	min-height: 35px;
	border-style: none;
	text-align: center;
	font-size: 21px;
	color: #FFFFFF;
	line-height: 25px;
	letter-spacing: -1px;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 33px;
	left: 50%;
	margin-left: -545px;
}

#u276-4
{
	z-index: 262;
	width: 98px;
	min-height: 33px;
	border-style: none;
	text-align: center;
	font-size: 21px;
	color: #FFFFFF;
	line-height: 25px;
	letter-spacing: -1px;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 34px;
	left: 50%;
	margin-left: -404px;
}

#u277-4
{
	z-index: 266;
	width: 95px;
	min-height: 33px;
	border-style: none;
	text-align: center;
	font-size: 21px;
	color: #FFFFFF;
	line-height: 25px;
	letter-spacing: -1px;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 34px;
	left: 50%;
	margin-left: -293px;
}

#u274-4
{
	z-index: 254;
	width: 86px;
	min-height: 32px;
	border-style: none;
	text-align: center;
	font-size: 21px;
	color: #FFFFFF;
	line-height: 25px;
	letter-spacing: -1px;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 34px;
	left: 50%;
	margin-left: 376px;
}

#u273-4
{
	z-index: 250;
	width: 130px;
	min-height: 31px;
	border-style: none;
	text-align: center;
	font-size: 21px;
	color: #FFFFFF;
	line-height: 25px;
	letter-spacing: -1px;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 34px;
	left: 50%;
	margin-left: 474px;
}

#u10419-4
{
	z-index: 7;
	width: 207px;
	min-height: 48px;
	background-color: transparent;
	text-align: center;
	font-size: 21px;
	color: #FFFFFF;
	line-height: 25px;
	letter-spacing: -1px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-left: 545px;
	margin-top: 19px;
	position: relative;
}

#u10416-4
{
	z-index: 3;
	display: block;
	vertical-align: top;
	margin-left: 315px;
	position: relative;
}

#u12376-6
{
	z-index: 106;
	width: 270px;
	min-height: 21px;
	background-color: transparent;
	text-align: center;
	font-size: 17px;
	color: #FFFFFF;
	line-height: 20px;
	letter-spacing: 0px;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	margin-left: 505px;
	margin-top: 14px;
	position: relative;
}

#pslideshowu11189
{
	width: 0.01px;
	margin-left: 513px;
	margin-top: 16px;
}

#slideshowu11189
{
	z-index: 24;
	width: 0.01px;
	height: 251px;
	position: relative;
	margin-right: -10000px;
}

#u11396
{
	position: absolute;
	width: 255px;
	height: 251px;
	background-color: transparent;
}

#u11396popup
{
	z-index: 25;
}

#u11421
{
	z-index: 26;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

.hvr-float,.morph
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u12050
{
	z-index: 28;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12059
{
	z-index: 30;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12068
{
	z-index: 32;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12077
{
	z-index: 34;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12086
{
	z-index: 36;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12095
{
	z-index: 38;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12104
{
	z-index: 40;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12113
{
	z-index: 42;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12122
{
	z-index: 44;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12131
{
	z-index: 46;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12140
{
	z-index: 48;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12149
{
	z-index: 50;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12158
{
	z-index: 52;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12167
{
	z-index: 54;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12176
{
	z-index: 56;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12185
{
	z-index: 58;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12194
{
	z-index: 60;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12203
{
	z-index: 62;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12212
{
	z-index: 64;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12221
{
	z-index: 66;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12230
{
	z-index: 68;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12239
{
	z-index: 70;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12248
{
	z-index: 72;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12257
{
	z-index: 74;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12266
{
	z-index: 76;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12275
{
	z-index: 78;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12284
{
	z-index: 80;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12293
{
	z-index: 82;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12302
{
	z-index: 84;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12311
{
	z-index: 86;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12320
{
	z-index: 88;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12329
{
	z-index: 90;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12338
{
	z-index: 92;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12347
{
	z-index: 94;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

#u12356
{
	z-index: 96;
	width: 255px;
	height: 251px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u11865
{
	z-index: 98;
	width: 255px;
	border-style: none;
	position: relative;
	margin-right: -10000px;
}

#u12372-6
{
	z-index: 100;
	width: 245px;
	min-height: 61px;
	background-color: transparent;
	text-align: center;
	font-size: 17px;
	color: #FFFFFF;
	line-height: 22px;
	letter-spacing: 1px;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	margin-left: 517px;
	margin-top: 13px;
	position: relative;
}

#u11183-13
{
	z-index: 11;
	width: 848px;
	background-color: transparent;
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: oldenburg, fantasy;
	font-weight: 400;
	margin-left: 224px;
	margin-top: 42px;
	position: relative;
}

#u11183-2,#u11183-3,#u11183-5,#u11183-7,#u11183-8,#u11183-10
{
	text-align: center;
	line-height: 28px;
}

#u11183-11
{
	line-height: 24px;
}

#u15530-53
{
	z-index: 112;
	width: 850px;
	min-height: 453px;
	background-color: transparent;
	color: #FFFFFF;
	margin-left: 224px;
	margin-top: 33px;
	position: relative;
}

#u15530-3
{
	font-size: 49px;
	text-align: center;
	line-height: 59px;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u15530,#u15530-4,#u15530-6,#u15530-8,#u15530-9,#u15530-11,#u15530-13,#u15530-14,#u15530-16,#u15530-18,#u15530-19,#u15530-21,#u15530-23,#u15530-24,#u15530-26,#u15530-28,#u15530-29,#u15530-31,#u15530-33,#u15530-34,#u15530-36,#u15530-38,#u15530-39,#u15530-41,#u15530-43,#u15530-44,#u15530-46,#u15530-48,#u15530-49,#u15530-50,#u15530-51
{
	font-size: 24px;
	line-height: 29px;
	font-family: oldenburg, fantasy;
	font-weight: 400;
}

.js #u11865.ose_pre_init,.js #u11183-13.ose_pre_init,.js #u15530-53.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#pu21353
{
	width: 0.01px;
	margin-left: -100px;
}

#u21353
{
	z-index: 2;
	min-height: 219px;
	background-color: #3D6177;
	background-color: rgba(0,48,77,0.76);
	-pie-background: rgba(0,48,77,0.76);
}

#u21353_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	position: relative;
	left: -100px;
}

#u15568-4
{
	z-index: 192;
	width: 223px;
	min-height: 19px;
	background-color: transparent;
	text-align: center;
	font-size: 22px;
	color: #FFFFFF;
	line-height: 26px;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 107px;
}

#pu15560-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 37px;
	margin-left: 675px;
}

#u15560-4
{
	z-index: 178;
	width: 134px;
	min-height: 19px;
	background-color: transparent;
	text-align: center;
	font-size: 22px;
	color: #FFFFFF;
	line-height: 26px;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
}

#pu15563
{
	width: 0.01px;
	margin-top: 41px;
}

#u15563
{
	z-index: 184;
	width: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u15563_img
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
}

#u15565
{
	z-index: 186;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 42px;
}

#u15565:hover
{
	background-color: transparent;
	width: 35px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
}

#u15565_img
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}

#u15561
{
	z-index: 182;
	width: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 92px;
}

#u15563:hover,#u15561:hover
{
	background-color: transparent;
	width: 28px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u15561_img
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
}

#u15563_img:hover,#u15565_img:hover,#u15561_img:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#pu15567-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 38px;
	margin-left: 925px;
}

#u15567-4
{
	z-index: 188;
	width: 134px;
	min-height: 19px;
	background-color: transparent;
	text-align: center;
	font-size: 22px;
	color: #FFFFFF;
	line-height: 26px;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	margin-left: 269px;
	position: relative;
}

#u15558-13
{
	z-index: 165;
	width: 425px;
	min-height: 123px;
	background-color: transparent;
	text-align: right;
	font-size: 17px;
	color: #FFFFFF;
	line-height: 20px;
	margin-top: 32px;
	position: relative;
}

#u15558-2,#u15558-4,#u15558-5
{
	font-family: voltaire, sans-serif;
	font-weight: 400;
}

#u15558-7,#u15558-9,#u15558-11
{
	font-family: droid-sans, sans-serif;
	font-weight: 700;
}

#u21353-bw
{
	z-index: 2;
	min-height: 219px;
}

#share
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 118px;
	left: 717px;
}

#pamphletu21315
{
	z-index: 197;
	width: 0.01px;
	height: 41px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 107px;
}

#u21316
{
	position: absolute;
	width: 966px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0.4)),color-stop(100%, rgba(0,0,0,0.95)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0.4) ,rgba(0,0,0,0.95) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0.4) ,rgba(0,0,0,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#F2000000, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000', endColorstr='#F2000000', GradientType=0)";
	border-style: none;
	border-color: transparent;
	padding-bottom: 44px;
	top: 244px;
	left: 155px;
}

#u21316popup
{
	z-index: 198;
}

#u21317
{
	z-index: 199;
	width: 922px;
	height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u21332
{
	z-index: 200;
	width: 922px;
	height: 452px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.51);
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	-pie-background: rgba(255,255,255,0.51);
}

#u21332:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.85);
	width: 922px;
	height: 452px;
	min-height: 0px;
	margin: 47px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.85);
}

#u21318
{
	z-index: 201;
	width: 531px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 174px;
}

#u21327
{
	z-index: 202;
	width: 165px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 185px;
}

#pu21329
{
	width: 0.01px;
}

#u21329
{
	z-index: 203;
	width: 2px;
	height: 235px;
	background-color: #00204D;
	position: relative;
	margin-right: -10000px;
	left: 81px;
}

#u21328
{
	z-index: 204;
	width: 2px;
	height: 162px;
	background-color: #00204D;
	-webkit-transform: matrix(0,1,-1,0,82,80);
	-ms-transform: matrix(0,1,-1,0,82,80);
	transform: matrix(0,1,-1,0,82,80);
	position: relative;
	margin-right: -10000px;
	margin-top: -17px;
	left: 80px;
}

#u21330
{
	z-index: 205;
	width: 2px;
	height: 162px;
	background-color: #00204D;
	-webkit-transform: matrix(0,1,-1,0,82,80);
	-ms-transform: matrix(0,1,-1,0,82,80);
	transform: matrix(0,1,-1,0,82,80);
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 81px;
}

#u21331
{
	z-index: 206;
	width: 2px;
	height: 162px;
	background-color: #00204D;
	-webkit-transform: matrix(0,1,-1,0,82,80);
	-ms-transform: matrix(0,1,-1,0,82,80);
	transform: matrix(0,1,-1,0,82,80);
	margin-left: 83px;
	top: -84px;
	margin-bottom: -82px;
	position: relative;
}

#u21319
{
	z-index: 207;
	width: 531px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u21324-4
{
	z-index: 220;
	width: 134px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 29px;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	margin-left: 201px;
	position: relative;
}

#pu21320-4
{
	width: 0.01px;
	margin-top: 47px;
}

#u21320-4
{
	z-index: 208;
	width: 180px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 29px;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u21323-4
{
	z-index: 228;
	width: 129px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 29px;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 356px;
}

#pu21326-4
{
	width: 0.01px;
	margin-left: 67px;
	margin-top: 52px;
}

#u21326-4
{
	z-index: 232;
	width: 113px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 29px;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u21321-4
{
	z-index: 224;
	width: 136px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 29px;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 289px;
}

#pu21322-4
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 51px;
}

#u21322-4
{
	z-index: 212;
	width: 145px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 29px;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u21325-4
{
	z-index: 216;
	width: 175px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: #00204D;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 29px;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 321px;
}

#u21324-4::before,#u21320-4::before,#u21323-4::before,#u21326-4::before,#u21321-4::before,#u21322-4::before,#u21325-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u21338
{
	z-index: 236;
	width: 111px;
	position: relative;
	margin-right: -10000px;
	left: 9px;
}

#u21343
{
	position: absolute;
	width: 120px;
	border-color: #999999;
	background-color: transparent;
	padding-bottom: 15px;
	left: -9px;
}

#u21343:hover
{
	border-color: #6B6B6B;
	background-color: transparent;
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u21343:active
{
	border-color: #6B6B6B;
	background-color: #E5E5E5;
	background-color: rgba(127,127,127,0.2);
	width: 120px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(127,127,127,0.2);
}

#u21344-4
{
	z-index: 240;
	width: 60px;
	min-height: 23px;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	color: #FFFFFF;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 9px;
}

#u21343:hover #u21344-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 60px;
	margin: 16px -10000px 0px 0px;
}

#u21343:active #u21344-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 60px;
	margin: 16px -10000px 0px 0px;
}

#u21343.PamphletThumbSelected #u21344-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 60px;
	margin: 16px -10000px 0px 0px;
}

#u21345
{
	z-index: 238;
	width: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 79px;
}

#u21343:hover #u21345
{
	width: 41px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u21343:active #u21345
{
	width: 41px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u21343.PamphletThumbSelected #u21345
{
	width: 41px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u21349
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	border-radius: 45px;
	padding-bottom: 3px;
	top: 244px;
	left: 1083px;
}

#u21349:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.8);
	width: 30px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(255,255,255,0.8);
}

#u21349:active
{
	background-color: #595959;
	background-color: rgba(48,48,48,0.8);
	width: 30px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(48,48,48,0.8);
}

#u21350-4
{
	z-index: 245;
	width: 20px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 25px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 5px;
}

#u21350-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 20px;
	margin: 2px -10000px 0px 0px;
}

#u21350-4:hover p
{
	color: #FF0000;
	visibility: inherit;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#pamphletu21468
{
	z-index: 272;
	width: 0.01px;
	height: 47px;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 147px;
	left: 107px;
}

#u21469
{
	z-index: 273;
	width: 168px;
	position: relative;
	margin-right: -10000px;
}

#u21470
{
	position: absolute;
	width: 168px;
	border-color: #999999;
	background-color: transparent;
	padding-bottom: 17px;
}

#u21470:hover
{
	border-color: #6B6B6B;
	background-color: transparent;
	width: 168px;
	min-height: 0px;
	margin: 0px;
}

#u21470:active
{
	border-color: #6B6B6B;
	background-color: #E5E5E5;
	background-color: rgba(127,127,127,0.2);
	width: 168px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(127,127,127,0.2);
}

#u21473-4
{
	z-index: 275;
	width: 107px;
	min-height: 35px;
	background-color: transparent;
	line-height: 26px;
	font-size: 19px;
	letter-spacing: 0px;
	color: #FFFFFF;
	font-family: voltaire, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u21470:hover #u21473-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 107px;
	margin: 12px -10000px 0px 0px;
}

#u21470:active #u21473-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 107px;
	margin: 12px -10000px 0px 0px;
}

#u21470.PamphletThumbSelected #u21473-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 107px;
	margin: 12px -10000px 0px 0px;
}

#u21470.PamphletThumbSelected #u21473-4 p
{
	letter-spacing: 0px;
	line-height: 1.38;
	font-size: 19px;
	font-weight: normal;
}

#u21471
{
	z-index: 279;
	width: 44px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#u21470:hover #u21471
{
	width: 44px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u21470:active #u21471
{
	width: 44px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u21470.PamphletThumbSelected #u21471
{
	width: 44px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u21478
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -769px;
	left: 1078px;
}

#u21478:hover
{
	background-color: #323232;
	background-color: rgba(0,0,0,0.8);
	width: 30px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0,0,0,0.8);
}

#u21478:active
{
	background-color: #595959;
	background-color: rgba(48,48,48,0.8);
	width: 30px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(48,48,48,0.8);
}

#u21479-4
{
	z-index: 282;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u21480
{
	position: absolute;
	width: 966px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: -794px;
	left: 167px;
	-pie-background: rgba(0,0,0,0.9);
}

#u21480popup
{
	z-index: 286;
}

#u21481
{
	z-index: 287;
	width: 922px;
	height: 1010px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u21483
{
	z-index: 288;
	width: 902px;
	min-height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 9px;
}

#u21482-4
{
	z-index: 289;
	width: 83px;
	min-height: 17px;
	background-color: #FFFFFF;
	line-height: 14px;
	font-size: 12px;
	color: #7F7F7F;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 131px;
}

body
{
	position: relative;
	min-width: 1280px;
	padding-top: 89px;
	padding-bottom: 141px;
}

#page .verticalspacer
{
	clear: both;
}

